{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navhita</title>
    <!-- <link rel="stylesheet" href="../static/mess.css"> -->
    <link rel="stylesheet" href="{% static 'service.css' %}?v=1">
    
  </head>
  <body>
    <header>
      <h1>Navhita</h1>
      <nav>
        <ul>
          <!-- <li><a href="#features">Features</a></li>
          <li><a href="#register">Register</a></li>
          <li><a href="#contact">Contact Us</a></li> -->
          <li><b>Hello {{user_name}}</b></li>
          <li><b><a href="{% url 'logout' %}">Logout</a></b></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="hero">
        <h2>Select an Option</h2>
        <p id="messages-container">
          {% for message in messages %}
          {{message}}
          {% endfor %}
        </p>
      </section>
    <div class="grid">
        <!-- <div class="card">
            <h2>Sample Text 1</h2>
        </div>
        <div class="card">
            <h2>Sample Text 2</h2>
        </div>
        <div class="card">
            <h2>Sample Text 3</h2>
        </div>
        <div class="card">
            <h2>Sample Text 4</h2>
        </div>
        <div class="card">
            <h2>Sample Text 5</h2>
        </div>
        <div class="card">
            <h2>Sample Text 6</h2> 

        </div> -->
        {% for service in services %}
        <form method="POST" action="{% url 'sendServiceMail' %}">
          {% csrf_token %}
          <input type="hidden" name="id" value="{{service.id}}">
          <!-- <div class="card">
            <h2>{{service.name}}</h2>
          </div> -->
          <label for="submitBtn{{ service.id }}" class="card">
            <h2>{{service.name}}</h2>
          </label>
          <input type="submit" id="submitBtn{{ service.id }}" style="display: none;">
        </form>
        {% endfor %}
    </div>
    <br><br>
    </main>
    <footer id="contact" class="footer">
      <h2>Contact Us</h2>
      <ul>
        <li><i class="fas fa-map-marker-alt"></i>123 Main St, Anytown USA</li>
        <li><i class="fas fa-phone"></i>(555) 555-5555</li>
        <li><i class="fas fa-envelope"></i>info@navhita.com</li>
      </ul>
    </footer>
  </body>
  <script>
    setTimeout(function() {
      var messagesContainer = document.getElementById("messages-container");
      messagesContainer.style.display = "none";
    }, 10000); // 10 seconds (10000 milliseconds)
  </script>
</html>